body{
    background-color: black;;
}
#contenedor{
    width: 1200px;
    height: 2390px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
}
header{
    width: 1180px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
    background-color:#0d2033 ;
    border-radius: 30px;
}
h1{
    color: #fff;;
    margin:auto;
    font-family: 'Merriweather', serif; 
}
#imagen{
    margin-left: 10px;
}
nav{
    text-align: center;
    padding: 20px;
}
nav a{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    background-color: #0d2033;
    border-radius: 20px;
    border-style: groove;
    color: #FF324D
}
nav a:hover{
  color: aqua;
  transition: all 300ms ease;
}
#buscador{
    position: absolute;
    margin-top: -110px;
    padding-left: 850px;
}
#buscador input{
    width: 240px;
    height: 40px;
    padding: 20px;
    font-size: 18px;
    color: #000;
    border:  1px solid black;
    border-radius: 30px;
}
#icono{
    width: 30px;
    padding-left: 10px;
    font-size: 30px;
}
/*AQUI COMIENZA NOSOTROS */
main{
    width: 1200px;
    height: 900px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
}
section{
    width: 550px;
    height: 500px;
    font-size: 18px;
    padding-top: 40px;
    object-fit: cover;
    font-family: 'Quicksand', sans-serif;
}
#cyber{
    text-align: center;
}
h2{
    text-align: center;
}

/*ESTE ES EL FOOTER*/

.pie-pagina{
    width: 100%;
    height: 380px;
    background-color: #0a141d;
    margin-top: 800px;
   
   }
   .pie-pagina .grupo-1{
       width: 100%;
       height: 290px;
       max-width: 1200px;
       margin: auto;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 50px;
       padding: 45px 0px;
   }
   .pie-pagina .grupo-1.box figure{
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   #thebox{
     height: 200px;
     padding: 50px;
     object-fit: cover;
   }
   .pie-pagina .grupo-1 .box h2{
       color: #fff;
       font-family: 'Quicksand', sans-serif;
       margin-bottom: 25px;
       font-size: 20px;
   }
   .pie-pagina .grupo-1 .redsocial a{
       display: inline-block;
       text-decoration: none;
       width: 85px;
       height: 45px;
       line-height: 45px;
       color: #fff;
       margin-right: 10px;
       background-color: #0d2033;
       text-align: center;
       transition: all 300ms ease;
    
    }
   
   .pie-pagina .grupo-1 .redsocial a:hover{
       color: aqua;
   }
   .pie-pagina .grupo-2{
       background-color: #0a1a2a;
       padding: 15px 10px;
       text-align: center;
       color: #fff;
   }
   .pie-pagina .grupo-2 small{
    font-size: 15px;
   }
#siguenos{
    margin-right: 60px;
}
/*Aqui termina el footer*/